body {
    margin: 0;
    min-width: 250px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style the main container */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* Style the pending, completed section */

  .pending-section, .completed-section {
    width: 45%;
    padding: 1%;
  }

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* Style the close button */
  
  .close:hover {
    background-color: #554555;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #555;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 100%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

  /* Style the add task button*/

  .add-task {
    width: 100%;
    margin: 0;
  }

  /* Style add task form inputs */ 
  .task-form {
    width: 100%;
    display: none;
  }